.App {

}

.title {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  
}

.Logining, .Registration{
  margin-top: 2%;
}

.admins{
  text-align: center;
}

.RegistrateButton{
  /*margin-right: 2%;*/
  display: flex;
  align-items: center;
}

/* .RegForm, .LogInForm{
  display:flex;
  align-items: flex-start;
  border: 2px solid black;
  flex-direction: column;
  background-color: gainsboro;
  width: min-content;
} */

/* .RegForm div, .LogInForm div{
  margin: 4% 0 0 0;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/*=================================================*/


@media (min-width: 1051px) {
  .Form {
    width: 35%;
    margin: 0 auto;
  }
}

@media (max-width: 1050px) {
  .Form {
    width: 500px;
    margin: 0 auto;
  }
}

@media (max-width: 450px) {
  .Form {
    width: 90%;
    
  }
}


.Form {
  margin: 0 auto;
}

.Form__field {
  margin-bottom: 10px;
}

.Form__error {
  color: red;
  text-align: left;
  font-size: 12px;
  display: block;
  margin-top: 3px;
  display: none;
}

.Form input, .Form textarea{
  margin-bottom: 10px;
  width: 100%;
  border: 2px solid silver;
  font-size: 1.2em;
  color: #505050;
  font-family: 'Roboto Slab', serif;
  font-size: 1.2em;
  border-radius: 7px;
}

input:valid:not(:placeholder-shown) {
  border-color: green;
}

input:invalid:not(:placeholder-shown) {
  border-color: red;
}
input:invalid:not(:placeholder-shown) + .form__error {
  display: block;
}

/*=================================================*/