.App {

}

.title {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  
}

.Logining, .Registration{
  margin-top: 2%;
}

.admins{
  text-align: center;
}

.RegistrateButton{
  /*margin-right: 2%;*/
  display: flex;
  align-items: center;
}

.RegForm{
  display:flex;
  align-items: flex-start;
  border: 2px solid black;
  flex-direction: column;
  background-color: gainsboro;
  width: min-content;
}

.RegForm div{
  margin: 4% 0 0 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}